body {
  background:grey url('../images/questions_bg.jpg') no-repeat top center;
}

.progress {
  height:20px;
  background:#fff;
  margin-left:auto;
  margin-right:auto;
  max-width:500px;
  border-radius:10px;
  margin-bottom:60px;
}
.progress .value {
  background-color:#ffb103;
  width:10%;
  height:20px;
  border-radius:10px;
  transition: 0.2s;
}

.question-box {
  background:#fff;
  max-width:420px;
  padding:60px 40px;
  margin-left:auto;
  margin-right:auto;
  box-shadow:0 4px 25px #dde2e8;;
}

.question-box .number {
  font-size:60px;
  font-weight:900;
  text-align:center;
  color:#2ec7a6;
  margin-bottom:30px;
}

.question-box .question {
  margin-bottom:40px;
  font-size:30px;
  font-weight:700;
  text-align:center;
  line-height:1.5;
}

.question-box .choice {
  border-radius:120px;
  font-size:20px;
}